
<p></p>
Operation:{{operation}}
<p></p>
Result: {{result}}
<p></p>
<button type="button" (click)="onClick1()">1</button>&nbsp;
<button type="button" (click)="onClick2()">2</button>&nbsp;
<button type="button" (click)="onClick3()">3</button>&nbsp;
<p></p>
<button type="button" (click)="onClick4()">4</button>&nbsp;
<button type="button" (click)="onClick5()">5</button>&nbsp;
<button type="button" (click)="onClick6()">6</button>&nbsp;
<p></p>
<button type="button" (click)="onClick7()">7</button>&nbsp;
<button type="button" (click)="onClick8()">8</button>&nbsp;
<button type="button" (click)="onClick9()">9</button>&nbsp;
<button type="button" (click)="onClick0()">0</button>&nbsp;
<p></p>
<button type="button" (click)="onClickPlus()">+</button>&nbsp;
<button type="button" (click)="onClickMinus()">-</button>&nbsp;
<button type="button" (click)="onClickMultiply()">*</button>&nbsp;
<button type="button" (click)="onClickDivide()">/</button>&nbsp;
<p></p>
<button type="button" (click)="onClickReset()">reset</button>&nbsp;
<button type="button" (click)="onClickDelete()">delete</button>&nbsp;

